@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
    font-family: 'Courgette', cursive;
    font-style: normal;
    margin: 0;
    background-color: black;
    color: aliceblue;
}

/* ------------------------------------------------------ header and navbar----------------------------------------------  */
header{
    position: sticky;
    top:0;
}
.sticky-navbar{
    display:flex;
    justify-content: space-between;
    align-content: center;
    background-color: black;
    height: 60px;
}

.menu{
    align-items: center;
    justify-items: center;
    text-align: center;
    color: aliceblue;
    margin: auto 12px;
}

ul a{
    margin: 12px;
    /* margin-right: 12px; */
    color:aliceblue;
    text-decoration: none;
    font-size: 1.25rem;
}

.company-name{
    margin: 12px;
    color: aliceblue;
    align-items: center;
    font-size: 1.5rem;
}

h3{
    margin: 0;
}


/* ------------------------------------------------------info and image section----------------------------------------------  */
.heading > h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
}
.learn-button button{
    padding: 12px 50px;
    background-color: black;
    color: aliceblue;
    font-size: 1.1rem;font-family: 'Courgette', cursive;
}

.info-image{
    display: flex;
    justify-content:space-between;
    margin-top: 35px;
}

.info-image>.info{
    padding-left:50px;
}

.info-image>.image{
    padding-right:50px;
}
.image>img{
    width:400px; 
    height:600px;
}

.info{
    width: 49%;
    font-size:1.25rem;
}

/* ------------------------------------------------------flex image galary section----------------------------------------------  */
.flex-heading > h1{
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
}

#flex-galary{
    margin:75px 50px;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

.item-img > img{
    width: 450px;
    height: 300px;
    margin: 50px auto;
}